<h2 class="heading">グループ編集</h2>

<div class="container">
  <div class="row justify-content-center">
    <%= render "layouts/errors", obj: @group %>
  </div>
  <div class="row justify-content-center">
    <%= render "public/groups/form", group: @group %>
  </div>
</div>