<div class="d-flex">
  <h2 class="heading group-action">グループ編集</h2>
  <%= link_to "グループ一覧", groups_path, class: "index-group-link btn btn-sm btn-primary" %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <%= render "layouts/errors", obj: @group %>
  </div>
  <div class="row justify-content-center">
    <%= render "public/groups/form", group: @group %>
  </div>
</div>