<div class="d-flex">
  <h2 class="heading group-action">グループ作成</h2>
  <%= link_to "グループ一覧", groups_path, class: "btn btn-primary mt-3" %>
</div>


<div class="container">
  <div class="row justify-content-center">
    <%= render "layouts/errors", obj: @group %>
  </div>
  <div class="row justify-content-center">
    <%= render "public/groups/form", group: @group %>
  </div>
</div>
