<h2 class="heading">投稿内容編集</h2>

<div class="container">
  <div class="row justify-content-center">
    <%= render "layouts/errors", obj: @post %>
  </div>
  <div class="row justify-content-center">
    <%= render "public/posts/form", post: @post, genres: @genres %>
  </div>
</div>