<h2 class="heading">フォロー一覧</h2>

<div class="container">
  <div class="row">
    <%= render "public/relationships/index", users: @users %>
  </div>
  <div class="row pagenation">
    <%= paginate @users %>
  </div>
</div>