<div class="d-flex">
  <h2 class="heading group-action">送信内容確認</h2>
  <%= link_to "グループ一覧", groups_path, class: "index-group-link btn btn-sm btn-primary" %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <p>送信が完了しました。内容は以下の通りです。</p>
  </div>
  <div class="row justify-content-center">
    <div class="card mail-card mt-4">
      <div class="card-body">
        <div class="card-title">
          <h5>[タイトル]</h5>
          <p><%= @title %></p>
        </div>

        <div class="card-text">
          <h5>[本文]</h5>
          <p><%= @body %></p>
        </div>
      </div>
    </div>
  </div>
</div>

