      <div class="main-visual">
        <div class="main-visual-content">
          <p class="main-visual-text">
            ようこそはちゅマニアへ！<br>
            このサイトは、爬虫類好きが集まるコミュニティサイトです。<br>
            爬虫類について自由に投稿し、情報共有をすることできます。<br>
            投稿一覧とユーザー一覧は、<br>
            登録をしなくても見ることができます。<br>
          </p>
        </div>
      </div>

