<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag "reptail.JPG",alt: "IMG", size: "1000x600" %>
    </div>
    <div class="col-md-4 p-5 main-visual-text">
      <h4 class="text"><strong>ようこそ、はちゅマニアへ！</strong></h4>
      <p>
        このサイトは、爬虫類好きが集まるコミュニティサイトです。<br>
        爬虫類について自由に投稿し、情報共有をすることできます。<br>
        <strong>ゲストログイン</strong>は登録しなくても、見ることができます。<br>
      </p>
      <div class="card headline genre-card mt-6">
        <h6 class="card-header text-center"><strong>ジャンル検索</strong></h6>
        <% @genres.each do |genre| %>
          <li class="list-group-item text-center">
            <%= link_to genre.name, genre_search_path(genre_id: genre.id), method: :get, class: "genre-text" %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>



