<h2 class="heading ml-5">ジャンル編集</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 mt-3">
      <%= render "admin/genres/form", genre: @genre %>
    </div>
  </div>
</div>