@use '~bootstrap/scss/bootstrap';

//header
.header-color {
  background-color: #bce2e8;
}

.logo {
  width: 100px;
  height: 90px;
}

.nav-link {
  background-color: #ebf6f7;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

 //main
 main {
  margin-bottom: 100px;
}

.alert:not(:last-child){
	margin-bottom: 0;
}

.heading {
  background-color: #fff3b8;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0 0 20px;
}

.action-link {
  color: #696969;
}

//main-top
.top-image {
  width: 1000px;
  height: 600px;
}

.main-visual-text {
  background-color: #fff3b8;
}

.profile-image-design {
  border-radius: 50%;
}

 //main-profile-image (public/post_comments/index, groups/index, posts/show, chats/show, relationships/_index, admin/post_comments/index, posts/show, users/index)
.profile-image {
  width: 50px;
  height: 50px;
}

//main-session (public/sessions/new, registrations/new)
.info-text {
  text-align: center;
}

//main-top-genre-search
.genre-card {
  width: 200px;
}

.card-header {
  background-color: #a0d8ef;
}

.genre-text {
  color: black;
}

.genre-action-link {
  margin-top: 30px;
}

//main-form
input[type="text"] {
  width: 350px;
}

input[type="password"] {
  width: 350px;
}

input[type="email"] {
  width: 350px;
}

//main-card (public/posts/show, index, users/index, admin/homes/top, posts/show)
.card {
  width: 17rem;
}

.post-card {
  width: 25rem;
}

.card-height {
  height: 320px;
  width: 250px;
}

.card-profile-image {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

//main-mail-card (public/event_notices/sent)
.mail-card {
  height: 450px;
  width: 400px;
}

//main-pagenation
.pagenation {
  justify-content: center;
  margin-top: 40px;
}

//main-status (public/users/edit, admin/users/index, edit)
.status-false {
  color: #00a968;
}

.status-true {
  color: #e8383d;
}

//main-group-link (public/users/inex, groups/index, edit, new, show, event_notices_sent)
.group-action {
  margin-right: 800px;
}

.new-group-link {
  margin-top: 25px;
}

.index-group-link {
  margin-top: 25px;
}

//main-comment (public/posts/show, admin/posts/show)
.comments {
  margin-left: 80px;
}

.comment-form-size {
  width: 350px;
  height: 60px;
}

//main-chat (public/chats/show)
.chat-text1 {
  background-color: #f0f8ff;
  padding: 10px 10px;
  border-radius: 10px;
}

.chat-text2 {
  background-color: #f0ffff;
  padding: 10px 10px;
  border-radius: 10px;
}

//main-favorite-image (public/users/favorites)
.favorite-post-image {
  width: 100px;
  height: 60px;
}

//main-genre (admin/genres/index, edit)
.genre-link {
  margin-top: 20px;
}

//footer
footer {
  background-color: #a0d8ef;
}

@media screen and (max-width:425px) {
  //header
  header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    position: relative;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .nav-item {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
  }

  .nav-link {
    padding: 0;
  }

  .input-group {
    display: none;
  }

  .top-image {
    width: 100%;
    height: 250px;
  }

  //main
  main {
    width: 100%;
    display: block;
  }

  .heading {
    margin-left: 5px;
    font-size: 18px;
  }

  //main-profile-image (public/post_comments/index, groups/index, posts/show, chats/show, relationships/_index, admin/post_comments/index, posts/show, users/index)
  .profile-image {
     width: 40px;
     height: 40px;
  }

  //main-session (public/sessions/new, registrations/new)
  .info-text {
    font-size: 15px;
  }

  //main-form
  input[type="text"] {
    width: 300px;
  }

  input[type="password"] {
    width: 300px;
  }

  input[type="email"] {
    width: 300px;
  }

  input[type="text_area"] {
    width: 300px;
  }

  //main-group (public/users/index, groups/show, index, edit, now, event-notices/sent)

  .new-group-link {
    margin-top: 15px;
    width: 80px;
    height: 28px;
    font-size: 12px;
    padding: 2px;
  }

  .index-group-link {
    margin-top: 15px;
    width: 80px;
    height: 28px;
    font-size: 12px;
    padding: 2px;
  }

  .group-action {
    margin-right: 50px;
  }

  .groups-heading {
    font-size: 8px;
  }

  .groups-body {
    font-size: 10px;
  }

  .groups-edit-button-size {
    width: 45px;
    height: 25px;
    font-size: 11px;
    padding: 3px;
  }

  .group-heading {
    font-size: 15px;
  }

  .group-body {
    font-size: 15px;
  }

  //main-comment (public/posts/show, admin/posts/show)
  .comments {
    margin-left: 25px;
  }

  .comment-user-name {
    font-size: 12px;
  }

  .comment-form-size {
    width: 300px;
    height: 50px;
  }

   //main-post-card (public/posts/index, show, admin/posts/index, show)
  .card-content {
    justify-content: center;
  }

  .posts-card {
    margin-left: 40px;
  }

  //main-genre (admin/genres/index, edit)
  .genre-link {
    margin-top: 20px;
  }

 //main-favorite (public/posts/index, show, users/show, favorites)
  .favorites-heading {
    font-size: 7px;
  }

  .favorites-body {
    font-size: 8px;
  }

  .favorite-post-image {
    width: 75px;
    height: 48px;
  }

  //main-relationship (public/users/inedex, show, relationships/followers, followings)
  .relationships-heading {
    font-size: 7px;
  }

  .relationships-body {
    font-size: 8px;
  }

  .follow-button {
    width: 48px;
    height: 16px;
    font-size: 8px;
    padding: 0;
  }

//main-users (admin/users/index, show, admin/users/index, show)
  .users-heading {
    font-size: 7px;
  }

  .users-body {
    font-size: 8px;
  }

  .user-post-card {
    margin-left: 50px;
  }

  .user-heading {
    font-size: 15px;
  }

  .user-body {
    font-size: 15px;
  }

  .users-card {
    margin-left: 50px;
  }

  .user-follow-button {
    width: 85px;
    height: 25px;
    font-size: 12px;
    padding: 2px;
  }

  //footer
  footer {
    width: 100%;
  }
}
