@use '~bootstrap/scss/bootstrap';


.header-color {
  background-color: #bce2e8;
}

// main {
//   // background-image: url("../images/no_image.png");
//   background-image: url("no_image.png");
//   background-size: cover;
//   width: 100%;
//   height: 600px;
// }

.main-visual {
  // background-image: url("/no_image.png");
  width: 100%;
  height: 500px;
}

.nav-link {
  background-color: #ebf6f7;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.heading {
  background-color: #fff3b8;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0 0 20px;
}

.info-text {
  text-align: center;
}

.profile-image {
  border-radius: 50%;
}

.card {
  width: 18rem;
}

.card-detail {
  width: 25rem;
}

footer {
  background-color: #a0d8ef;
}

.main-visual-text {
  background-color: #fff3b8;
}

.text {
  border-bottom: 1px solid;
}

.card-height {
  height: 320px;
  width: 250px;
}

.card-image {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.status-false {
  color: #00a968;
}

.status-true {
  color: #e8383d;
}

.group-action {
  margin-right: 800px;
}

.mail-card {
  height: 450px;
  width: 400px;
}

.genre-card {
  width: 200px;
}

.card-header {
  background-color: #fdd35c;
}

.genre-text {
  color: black;
}

.action-link {
  color: #696969;
}