<h2 class="heading ml-5">ユーザー一覧</h2>

<div class="container">
  <div class="row">
    <table class="table mt-3">
      <thead>
        <tr>
          <th>ユーザーID</th>
          <th>プロフィール画像</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= image_tag user.get_profile_image, size: "50x50", class: "profile-image" %></td>
            <td><%= link_to user.name, admin_user_path(user) %></td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted %>
                <p class="status-false"><strong>退会</strong></p>
              <% else %>
                <p class="status-false"><strong>有効</strong></p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>