<h2 class="heading">ユーザー一覧</h2>

<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-3">
        <div class="card mt-3 shadow-lg card-height">
          <div class="card-image">
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image, size: "200x200", class: "card-img-top profile-image" %>
            <% end %>
          </div>

          <div class="card-body">
            <p class="mt-3">
              <%= link_to user.name, user_path(user) %>
            </p>
            <p>投稿数：<%= user.posts.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>