<footer class="fixed-bottom">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-auto text-center pt-3">
        <p>©CopyRight HachuMania.inc</p>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-line"></i>
      </div>
    </div>
  </div>
</footer>