<footer class="fixed-bottom">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-auto text-center pt-3">
        <div class="d-flex">
          <p>©CopyRight HachuMania.inc</p>
          <p class="ml-3"><i class="fa-brands fa-instagram"></i></p>
          <p class="ml-1"><i class="fa-brands fa-x-twitter"></i></p>
          <p class="ml-1"><i class="fa-brands fa-line"></i></p>
        </div>
      </div>
    </div>
  </div>
</footer>